/* Custom CSS styles for Awesome App */

.awesome-app {
    
    height:600px;
    width:auto; 
    box-shadow: 10px 0px 10px rgba(0,0,0,0.3)
}

.present_img {
    text-align: center;
}

.custom-btn {
    background-color: #656cfa !important;
    border: 2px solid #fff !important;
}

.custom-btn-2 {
    background-color: #f769b2 !important;
    border: 2px solid #fff !important;
}

.custom-btn:hover {
    background-color: #4b53ff !important;
}

.custom-btn-2:hover {
    background-color: #fa57ab !important;
}

#home {
    box-shadow: 10px 3px 60px;
}

.features_detail {
    margin-top:0px;
}

.aa-icons {
    color: #656cfa !important;
}

#services {
    background-color: #07123A;
    color:#fff;
}

#services p, #services h4, #services h5 {
    
    color:#fff
}

#services i {
    color: #f769b2;
}

#pricing h2, #pricing h4 {
    color:#585858;
}

#pricing h2 {
      border-bottom: 1px solid grey;
}

.custom-price-table {
    box-shadow: 0px 0px 20px 1px #585858;
}

.sub-btn {
    background-color: #656cfa !important;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
}

.sub-btn:hover {
    background-color: #4b53ff !important;
}

.fade-names {
    color: grey !important; 
}

.test-container {
    padding-top:20px;
    padding-bottom:20px;
}